body{
  background: url(../image/top_img01.jpg) center center / cover no-repeat fixed;
}

#wrapper{
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  background-color: rgba(255,100,100,0.1);
}
#main{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
#main p{
  font-size: 100px;
  color: #ff6600;
}
